.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header h1{
  color: rgb(184, 108, 120);
}
.header div{
  display: inline-flex;
  margin: auto;
  gap: 2rem;

}
.header div p{
  text-decoration-line: underline;
  margin: auto;
  color: blue;
}
#bg{
  height: 45rem;
  position: absolute;
  width: 105.5%;
  margin-left: -50rem;
}
.description{
  margin-left: 23rem;
  margin-top: 6rem;
  background-color: whitesmoke;
  border-radius: 3rem;
  height: 20rem;
  width: 45rem;
  position: absolute;
  z-index: 3;
  opacity: 70%;
  text-align: initial;
  padding: 2rem;

}
#img1{
  height: 15rem;
  position: absolute;
  z-index: 5;
  margin: 20rem -16rem;
  border-radius: 1rem;
}
.pink-div{
  height: 22rem;
  width: 100%;
  background-color: palevioletred;
  margin-top: 40rem;
  opacity: 20%;
}
#img2{
  margin-top: -16rem;
  position: absolute;
  margin-left: -9rem;
}
h4{
  position: absolute;
  margin-top: -20rem;
  margin-left: 4rem;
}